/* Estilo para la barra de navegación */
.navbar {
  background-color: blue;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
}

/* Estilo para reducir la altura de la barra y hacerla más larga */
.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Aumenta el padding horizontal */
}

/* Estilo para los elementos a la izquierda */
.navbar-left {
  float: left;
}

/* Estilo para los elementos a la derecha */
.navbar-right {
  float: right;
}

/* Estilo para el título en la barra de navegación */
.navbar-title {
  color: white;
  margin: 0;
}

/* Estilo para el botón de inicio de sesión y el menú desplegable */
.large-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  /* Aumenta el tamaño del texto */
  cursor: pointer;
}

/* Estilo para la barra de búsqueda en el centro */
.search-bar {
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  flex-grow: 0.2;
  /* Hace que ocupe el espacio restante */
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  margin-left: 10px;
  font-size: 18px;
  /* Aumenta el tamaño del texto */
}

.search-bar i {
  color: #555;
  font-size: 24px;
  /* Aumenta el tamaño del ícono */
}

/* Estilo para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.column {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 10px 0;
  text-align: left;
  width: 100%;
}

.label {
  font-weight: bold;
}

.select,
.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  background-color: rgb(3 105 161);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.body {
  margin: 0;
  padding: 0;
}

.contenido {
  min-height: calc(100vh - 100px);
  /* Establece la altura mínima del contenido */
  padding-bottom: 100px;
  /* Ajusta el espacio en la parte inferior para la barra */
  position: relative;
}